body{
  
    background: rgb(54, 29, 6);
    
}
h1{ color:cadetblue;
text-align: center; }

p{ font-size: 20pt;
font-family: sans-serif ;
color: seagreen;}
#mo{ font-size: 100px;}
.Deltion{ font-size: xx-small;}


